.border1{
    height:500px;
    width:350px;
    border:0px solid rgb(0, 0, 0);
    box-shadow:2px 2px 3px rgb(247, 207, 73);
    margin-left:550px;
    background-color:rgb(255, 255, 255);
    border-radius:10px;
}
#logo{
    width: 40%;
    padding-left: 100px;
    padding-right: 100px;
}
.heading1{
    font-size:43px;
    font-family:Times, Times New Roman, serif;
    font-style:italic;
    text-shadow:1px 1px 2px rgb(0, 0, 0);
    text-align:center;
    color:rgb(0, 0, 0);
}
.para1{
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    color:rgb(0, 0, 0);
}
.submit1{
    margin-left:36px;
    font-size:20px;
    background-color:rgb(247, 207, 73);
    border-radius:9px;
    width:300px;
    color:rgb(0, 0, 0);
    height:38px;
    border-width:0px;
}
.box1{
    margin-left:36px;
    font-size:18px;
    width:290px;
    height:38px;
    margin-bottom:12px;
    background-color:rgb(247, 207, 73);
    border-radius:9px;
    border:0px solid;
    color:rgb(0, 0, 0);

}
.para11{
    margin-left:35px;
    color:rgb(0, 0, 0);
}
.bor1{
    border:1px solid rgb(0, 0, 0);
    height:40px;
    width:350px;
    margin-left:550px;
    margin-top:20px;
    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    border:0px solid rgb(0, 0, 0);
    box-shadow:2px 2px 3px rgb(237, 195, 28);
    border-radius:10px;
}
.body1{
    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat;
     background-image:url('login/1334857.png'); 
    color:rgb(0, 0, 0);
   
}